$font-basic: rgba(186, 184, 208, 0.6);
$font-bright: rgba(234, 232, 254, 1);
$highlights-violet: rgba(99, 55, 195, 1);
$grey: rgba(0, 0, 0, 0.25);
$light-grey: rgba(70, 67, 76, 1);
$dark-grey: rgba(54, 52, 59, 1);
$custom-black: rgba(9, 8, 13, 1);
$grey2: rgba(22, 22, 27, 1)
